
  @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Serif+Display&family=Poppins:wght@400;500;600;700;800;900&display=swap');
font-family: 'DM Mono', monospace;
font-family: 'DM Serif Display', serif;
font-family: 'Poppins', sans-serif;
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
    font-family: 'DM Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h1{
    color: #130f40;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 40px;
    font-family: 'DM Mono', monospace;
}

form{
  border-radius: 20px;
  background-image: linear-gradient(-45deg, #ffc796b4 0%, #ff6b95bd 100%);
 
  width: 560px;
  height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;


}
.form-control {
    position: relative;
    margin: 0px 0 40px;
    width: 350px;
    background-color: transparent;
  }
  
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 3px #40407a solid;
    display: block;
    width: 100%;
    padding: 20px 0;
    font-size: 24px;
    color: #40407a;

  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: #2c2c54;
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 28px;
    min-width: 5px;
    color: #40407a;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus+label span,
  .form-control input:valid+label span {
    color: #2c2c54;
    transform: translateY(-30px);
  }

  button {
    position: relative;
    padding: 20px 30px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #40407a;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #40407a;
    box-shadow: 0 0 50px 30px #40407a;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  