
  @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=DM+Serif+Display&family=Poppins:wght@400;500;600;700;800;900&display=swap');
font{
  font-family: 'DM Mono', monospace;
  font-family: 'DM Serif Display', serif;
  font-family: 'Poppins', sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
   
    height: 100vh;
    width: 100vw;
    background: url('../download.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'DM Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}


h1{
    color: #130f40;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 40px;
    font-family: 'DM Mono', monospace;
}

form{
  border-radius: 20px;
  background-image: linear-gradient(-45deg, #ffc7963b 0%, #ff6b9541 100%);
 
  width: 560px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;


}
.form-control {
    position: relative;
    margin: 0px 0 40px;
    width: 350px;
    background-color: transparent;
  }
  
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 3px #40407a solid;
    display: block;
    width: 100%;
    padding: 20px 0;
    font-size: 24px;
    color: #40407a;

  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: #2c2c54;
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 28px;
    min-width: 5px;
    color: #40407a;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus+label span,
  .form-control input:valid+label span {
    color: #2c2c54;
    transform: translateY(-30px);
  }

  button {
    padding: 1.3em 3em;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #0c70e2;
    box-shadow: 0px 15px 20px rgba(46, 58, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }
  

  input[type=email] {
    background-color: transparent;
    
  }